<%- include('./partials/head',{
    title : 'Home'
}) %> 
<body class="index">
    <%- include('./partials/header',{
        orientation : 'vertical'
    }) %> 
    <main>
        <h2>emilia<br>cole //</h2>
        <h1>twist in my reality</h1>
    </main>
</body>
</html>